html{
    background-image: url("images/bacteria.jpg");
    background-repeat:repeat-y ;

  
}


/* this is how to add a font from the font book*/
@font-face{
    font-family: knobby-knees;
    src:url(./fonts/knobby-knees.ttf)
}
@font-face {
    font-family: mono;
    src: url(./fonts/MartianMono-VariableFont_wdth\,wght.ttf);
}
h1{
    font-family: knobby-knees;
}
h2{
    font-family: knobby-knees;
}

.my-name-is{
text-align: center;
background-color: rgb(0, 255, 4); 
padding: 20px;
margin: 0;
}
.welcome{
    text-align: center;
    background-color: rgb(255, 0, 187);
    padding:20px;
    margin-top: -20px;
   


}
/* WORDS AND SUCH STYLING */
.homepageupdate1{
    size: 50px;
}

.blahblahblah:hover {
filter:brightness(80%)
}

.sketchbook:hover{
filter:brightness(80%)
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .email{
    HOW DO I MAKE THIS A COLOR 
  }