html{
    background-image: url("images/bedroomwall.jpg");
    background-size: cover;
    

  
}


/* this is how to add a font from the font book*/
@font-face{
    font-family: knobby-knees;
    src:url(./fonts/knobby-knees.ttf)
}
@font-face {
    font-family: mono;
    src: url(./fonts/MartianMono-VariableFont_wdth\,wght.ttf);
}
h1{
    font-family: knobby-knees;
}
h2{
    font-family: knobby-knees;
}

.instagramlogo{
    height:44px;
}
.instagramlogo:hover{
    transform: scale(1.05);
    filter: saturate(500%);
}

.emaillogo:hover{
    transform: scale(1.05);
}

.logoadjust{
    float:right;
    padding-right: 10px;
margin-top: -130px;
}

.my-name-is{
text-align: center;

padding: 30px;
margin: 0;
}
.welcome{
    text-align: center;
    color: white;
    padding:20px;
    margin-top: -20px;
   


}
/* WORDS AND SUCH STYLING */
.homepageupdate1{
    size: 50px;
}

.blahblahblah:hover {
filter:saturate(300%);
transform: scale(1.05);
}

.sketchbook:hover{
filter:saturate(300%);
transform: scale(1.05);
}

.schoolstuff:hover{
filter:saturate(300%);
transform: scale(1.05);    
}

.tattoos:hover{
filter:saturate(300%);
transform: scale(1.05);    
}
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 33.33%;
    
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .email{
    HOW DO I MAKE THIS A COLOR 
  }



/* CSS */
.button {
  appearance: none;
  background-color: #FFFFFF;
  border-radius: 40em;
  border-style: none;
  box-shadow: #ADCFFF 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -.24px;
  margin: 0;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 100px;
}

.button:hover {
  background-color: #ff29b1;
  box-shadow: #1420ff 0 -6px 8px inset;
  transform: scale(1.125);
}

.button:active {
  transform: scale(1.025);
}

@media (min-width: 768px) {
  .button-73 {
    font-size: 1.5rem;
    padding: .75rem 2rem;
  }
}